<!-- fondo incio -->
<a class="navbar-brand" style="color:rgb(173, 223, 35)" face="monaco" href="/homes/temaD1" size="4">Administrar</a>
<img class="navbar-brand" src="https://i1.wp.com/docencia-online.com/wp-content/uploads/2016/05/docencia-online-mediana.png?w=840" width="48px" height="50px"></a>
<a class="navbar-brand" style="color:rgb(35, 223, 76)" face="monaco" size="4">docente/pepito</a>
</nav>
</h1>
<title>add1</title>
<br><br><br>
<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Tema</label>
    <input type="text" class="form-control" id="Tema">
  </div>

  
</form>
<a type="submit" class="btn btn-primary" href="/homes/homeD" >enviar</a>
<br>
<br>
</center></h1>